/* Effets et animations */



/* Effet nom de la page*/
#name span {
    display: inline-block;
    transition: transform 0.3s ease-out;}
#name span:hover{
    transform: translateY(-5px);
}



.box:hover i {
    transition: transform 0.3s ease-out;
    transform: translateY(-5px);
}