/* Main CSS */

main {
    text-align: center;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

main header {

}

section {
    text-align: center;
    border-radius: 10px;
    margin: 5%;
}

section header {

}

/*Sert à réduire la taille de l'image du jour*/
.nasa {max-width: 40%;max-height: 480px;}

/*Paramètre la taille de l'image de la galerie*/
.galery {border-radius: 10px;max-height: 400px;max-width: 80%;}

/* Texte spécial */
.texte {
    font-family: "Merienda", cursive;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Table détouré */
table {
    margin: 10px 10%;
    width: 80%;
    border-radius: 5px;
}