/* Déclaration des variables */
:root {
    --primary-color: rgb(109, 234, 133);
    --hover-color: rgba(175, 175, 175, 0.15);
    --icon-hover-color: rgba(40, 40, 40, 0.78);
    --text-color: #333;
    --bg-color-light: #f9f9f9;
    --transition-speed: 0.3s;
}

/* Global styles */
body {
    font-family: "Saira Stencil One", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header & Footer */
#PageHeader, #PageFooter {
    background-color: var(--primary-color);
}

/* Header sticky effect */
#PageHeader {
    position: sticky;
    top: 0;
    z-index: 10; /* S'assurer que l'en-tête reste au-dessus du contenu */
}

/* Footer */
#PageFooter {
    padding: 20px 0;
    text-align: center;
    color: white;
}

/* Nom de la page */
#name {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: var(--text-color);
}

header ul, footer ul {
    list-style: none;
}

header a, footer a {
    color: black;
}

/* Conteneur principal de la navigation */
nav {
    padding: 0;
}

/* Conteneur des deux blocs */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bloc gauche : Accueil et Stats */
.left-block {display: flex;align-items: center;}

.left-block .box {margin-right: 20px;}

/* Bloc droit : Language et Style */
.right-block {display: flex;align-items: center;}

.right-block .box {margin-left: 20px;}

/* Retirer les décorations des liens */
nav a {
    text-decoration: none;
}
