

/* Global styles */
body {
    margin: 0;
    padding: 0;
}

/* Header sticky effect */
#PageHeader {
    position: sticky;
    top: 0;
    z-index: 10; /* S'assurer que l'en-tête reste au-dessus du contenu */
}

/* Footer */
#PageFooter {
    padding: 20px 0;
    text-align: center;
}

/* Nom de la page */

#name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Saira Stencil One", sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

header ul, footer ul {
    list-style: none;
}


.container {
    display: flex;
    justify-content: space-between; /* Place les blocs gauche et droit aux extrémités */
    align-items: center; /* Centre verticalement */
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.box {
    font-family: "Saira Stencil One", sans-serif;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 5px;
}

.left-block {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligner à gauche */
    flex: 1; /* Permet d'occuper tout l'espace disponible à gauche */
}

.right-block {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner à droite */
    flex: 1; /* Permet d'occuper tout l'espace disponible à droite */
    padding-right: 40px;
}

/* Retirer les décorations des liens */
nav a {
    text-decoration: none;
}

/* Styles de base pour le dropdown */
.dropdown {
    position: relative; /* Nécessaire pour que le dropdown-menu soit positionné par rapport à ce li */
}

.dropdown-menu {
    display: none; /* Cache le menu déroulant par défaut */
    position: absolute;
    top: 100%; /* Place le menu juste en dessous de l'élément parent */
    left: -70px;
    z-index: 10;
    border-radius: 5px;
    padding: 10px 0;
    width: 150px; /* Taille du menu */
}

/* Apparition du menu au survol */
.dropdown:hover .dropdown-menu {
    display: block; /* Affiche le menu lors du survol de .dropdown */
}

/* Pour les boutons dans le menu */
.dropdown-menu form {
    margin: 0;
}

.dropdown-menu button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-menu-button i, .nav-menu-button span {
    display: block;  /* Forcer chaque élément à être sur une nouvelle ligne */
    text-align: center; /* Optionnel : pour centrer le texte et l'icône */
} .nav-menu-button span {
    margin-top: 10px;
  }