/* Déclaration des variables */
:root {
    --primary-color: rgb(109, 234, 133);
    --hover-color: rgba(175, 175, 175, 0.15);
    --icon-hover-color: rgba(40, 40, 40, 0.78);
    --text-color: #333;
    --bg-color-light: #f9f9f9;
    --transition-speed: 0.3s;
}

/* Global styles */
body {
    font-family: "Saira Stencil One", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header & Footer */
#PageHeader, #PageFooter {
    background-color: var(--primary-color);
}

/* Header sticky effect */
#PageHeader {
    position: sticky;
    top: 0;
    z-index: 10; /* S'assurer que l'en-tête reste au-dessus du contenu */
}

/* Footer */
#PageFooter {
    padding: 20px 0;
    text-align: center;
    color: white;
}

/* Nom de la page */
#name {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: var(--text-color);
}

/* Espacement entre les menus*/
header ul, footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header a, footer a {
    color: black;
    text-decoration: none;
}


