* {
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: rgba(109, 234, 133, 0.7);
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #e5ffe9;
    margin-right: 0;
    margin-left: 0;
}








h1 {
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background: white;
}





