* {
    text-align: center;
}

header, footer {
    background-color: #00b2b2;
}

body {
    margin-right: 0;
    margin-left: 0;
}

main {
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #e8ffff;
}

section {
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
    margin: 5%;
    background-color: #c3f6f6;
}


/*Sert à réduire la taille de l'image du jour*/
.nasa {
    max-width: 40%;
    max-height: 480px;
}



/*Sert à la navigation*/

.navigation {
    text-decoration: none;
}

.navigation ul {

    height: 60px;
    align-content: center;
    vertical-align: center;
    list-style-type : none;
    overflow: hidden;
}

.navigation li {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    float: left;
}

.navigation li:hover {
    transition: background-color 0.3s;
    background-color: #79f3a3;
}

.navigation i {
    margin-top: 50%;
    color: black;
    transition: transform 0.3s ease-out;
    display: block;
    margin-bottom: 20%;
}

.navigation li:hover i {
    color: rgba(40, 40, 40, 0.78);
    transform: translateY(-5px);
}

.navigation li:hover p {
    color: rgba(40, 40, 40, 0.78);
    transform: translateY(-5px);
}

.navigation span {
    margin-bottom: 20%;
    display: block;
    font-size: 14px;
    color: #333;
}


/*----------------*/

h1 {
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background: linear-gradient(to top, #c3f6f6, #ddfcfc);
}

#name {
    text-align: left;
    font-size: x-large;
    font-family: "Saira Stencil One", sans-serif;
}

#name span {
    display: inline-block;
    transition: transform 0.3s ease-out;
}

#name span:hover{
    transform: translateY(-5px);
}

.texte {
    font-family: "Merienda", cursive;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e8ffff;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: darkgrey;
    border: solid 2px black;
    box-shadow: 5px 5px 5px lightgray;
}

th, td {
    background-color: white
}
